:root {
  --fe-colors-primary: #111820;
  --fe-colors-secondary: #181F29;
  --fe-colors-emphasis: #0070F3;
  --fe-colors-white: #FFF;
  --fe-colors-white-50: #FAFAFA;
  --fe-colors-white-200: #F7F7F7;
  --fe-colors-red-200: #BC3433;
  --fe-colors-black-100: #333B4C;
  --fe-colors-gray-50: #EBEBEB;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}