.container {
  width: 100vw;
  height: var(--fe-measures-header);
  background-color: var(--fe-colors-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
}

.logo a {
  font-size: 32px;
  display: flex;
  color: var(--fe-colors-white);
  align-items: center;
  gap: 4px;
}

.nav {
  padding: 32px;
  color: var(--fe-colors-white);
  font-size: 18px;
}

.ecommerceLink {
  display: flex;
  gap: 24px;
}

.ecommerceLink a {
  display: flex;
  align-items: center;
  gap: 8px;
}